.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

.panel-heading h1 {
	padding-bottom: 0.65em;
	color: #3399ff;
	font-weight: bold;
}

.panel-body {
	padding: 0;
}

.settings {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.settings li.property {
	height: 50px;
	border-bottom: 2px solid #eee;
	color: #000;
	padding-top: 12px;
	padding-left: 15px;
	padding-right: 15px;
}

.glyphicon-chevron-right {
    color: #3399ff;
    margin-left: 10px;
}