.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

.panel-heading h1 {
	padding-bottom: 0.65em;
	color: #3399ff;
	font-weight: bold;
}

.settings {
	list-style-type: none;
	margin: 0;
	padding: 0;
}